@use '../util' as u;

.cart-menu {
    position: absolute;
    left: 0;
    right: 0;
    margin: u.toRem(32) auto 0;
    width: u.toRem(327);
    padding: u.toRem(31);
    background-color: var(--light-clr);
    border-radius: 8px;

    @include u.breakpoint('medium'){
        right: 40px;
        left: unset;
    }

    @include u.breakpoint('large'){
        right: 165px;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: u.toRem(32);

        button {
            margin: 0;
        }
    }

    &__items {
        margin-bottom: u.toRem(32);

        .cart-item + .cart-item {
            margin-top: u.toRem(24);
        }
    }

    &__total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: u.toRem(24);

        h6 {
            margin-bottom: 0;
            color: var(--dark-clr);
        }
    }

    .checkout{
        display: block;
        width: 100%;
    }
}
