@use '../util' as u;

.link-btn {
    cursor: pointer;
    border: none;
    text-decoration: none;
    font-family: inherit;
    text-transform: uppercase;
    text-align: center;
    padding: u.toRem(15);
    width: u.toRem(160);
    transition: background-color .3s ease-in-out;

    &--orange {
        background-color: var(--accent-clr);
        color: var(--light-clr);

        &:hover, &:focus {
            background-color: var(--hover-clr);
        }
    }

    &--black {
        background-color: var(--dark-clr);
        color: var(--light-clr);

        &:hover, &:focus {
            background-color: var(--hover-clr2);
        }
    }

    &--transp {
        background-color: transparent;
        border: solid 1px var(--dark-clr);
        color: var(--dark-clr);

        &:hover, &:focus {
            background-color: var(--dark-clr);
            color: var(--light-clr);
        }
    }
}

.control-btn {
    cursor: pointer;
    padding: u.toRem(15) u.toRem(20);
    border: none;
    background-color: var(--section-clr);
    color: var(--dark-clr-a);
    transition: color .3s ease-in-out;

    &:hover, &:focus {
        color: var(--accent-clr);
    }
}

.btn-link{
    cursor: pointer;
    text-transform: capitalize;
    background: transparent;
    border: none;

    &__back{
        margin-top: u.toRem(106);
        margin-bottom: u.toRem(24);
        color: var(--dark-clr);
        opacity: 0.5;

        @include u.breakpoint('large'){
            margin-top: u.toRem(176);
            margin-bottom: u.toRem(56);
        }
    }
}