:root {
    --primary-ft: 'Manrope', sans-serif;
    
    --accent-clr: hsl(22, 65%, 57%);
    --line-clr: hsl(0, 0%, 59.2%);
    --bg-clr: hsl(0, 0%, 6%);
    --header-bg-clr: hsl(0, 0%, 10%);
    --txt-clr: hsl(0, 0%, 95%);
    --title-clr: hsl(0, 0%, 98%);
    --category-clr: hsl(0, 0%, 94%);
    --hover-clr: hsl(21, 94%, 75%);
    --hover-clr2: hsla(0, 0%, 30%, 1);
    --light-clr: hsl(0, 0%, 100%);
    --dark-clr: hsl(0, 0%, 0%);

    --hero-mobile: url('../assets/home/mobile/image-header.jpg');
    --hero-tablet: url('../assets/home/tablet/image-header.jpg');
    --hero-desktop: url('../assets/home/desktop/image-hero.jpg');

    --circles: url('../assets/home/desktop/pattern-circles.svg');

    --feat-mobile: url('../assets/home/mobile/image-speaker-zx9.png');
    --feat-tablet: url('../assets/home/tablet/image-speaker-zx9.png');
    --feat-desktop: url('../assets/home/desktop/image-speaker-zx9.png');

    --feat-two-mobile: url('../assets/home/mobile/image-speaker-zx7.jpg');
    --feat-two-tablet: url('../assets/home/tablet/image-speaker-zx7.jpg');
    --feat-two-desktop: url('../assets/home/desktop/image-speaker-zx7.jpg');
}