:root {
    --primary-ft: 'Manrope', sans-serif;
    
    --accent-clr: hsl(22, 65%, 57%);
    --line-clr: hsl(0, 0%, 59.2%);
    --bg-clr: hsl(0, 0%, 6%);
    --header-bg-clr: hsl(0, 0%, 10%);
    --section-clr: hsl(0, 0%, 95%);
    --title-clr: hsl(0, 0%, 98%);
    --category-clr: hsl(0, 0%, 94%);
    --hover-clr: hsl(21, 94%, 75%);
    --hover-clr2: hsla(0, 0%, 30%, 1);
    --light-clr: hsl(0, 0%, 100%);
    --dark-clr: hsl(0, 0%, 0%);
    --txt-clr: hsla(0, 0%, 0%, .5);
    --toggle-bg: hsla(0, 0%, 0%, .4);
    --dark-clr-a: hsla(0, 0%, 0%, 0.25);

    --circles: url('../assets/home/desktop/pattern-circles.svg');

    --hero-mobile: url('../assets/home/mobile/image-header.jpg') bottom/cover no-repeat;
    --hero-tablet: url('../assets/home/tablet/image-header.jpg') bottom/cover no-repeat;
    --hero-desktop: url('../assets/home/desktop/image-hero.jpg') bottom/cover no-repeat;

    --feat-mobile: url('../assets/home/mobile/image-speaker-zx9.png') center/cover no-repeat;
    --feat-tablet: url('../assets/home/tablet/image-speaker-zx9.png') center/cover no-repeat;
    --feat-desktop: url('../assets/home/desktop/image-speaker-zx9.png') center/cover no-repeat;

    --feat-two-mobile: url('../assets/home/mobile/image-speaker-zx7.jpg') center/cover no-repeat;
    --feat-two-tablet: url('../assets/home/tablet/image-speaker-zx7.jpg') center/cover no-repeat;
    --feat-two-desktop: url('../assets/home/desktop/image-speaker-zx7.jpg') center/cover no-repeat;

    --feat-three-mobile: url('../assets/home/mobile/image-earphones-yx1.jpg') center/cover no-repeat;
    --feat-three-tablet: url('../assets/home/tablet/image-earphones-yx1.jpg') center/cover no-repeat;
    --feat-three-desktop: url('../assets/home/desktop/image-earphones-yx1.jpg') center/cover no-repeat;

    --about-mobile: url('../assets/shared/mobile/image-best-gear.jpg') center/cover no-repeat;
    --about-tablet: url('../assets/shared/tablet/image-best-gear.jpg') center/cover no-repeat;
    --about-desktop: url('../assets/shared/desktop/image-best-gear.jpg') center/cover no-repeat;
}