@use '../util' as u;

.grid-2x1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @include u.breakpoint('large'){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}