@forward './global';
@forward './layout';
@use './util' as u;

.toggle-bg {
    position: absolute;
    top: u.toRem(90);
    width: 100%;
    height: 3703px;
    background-color: var(--toggle-bg);
    z-index: 100;

    @include u.breakpoint('medium'){
        height: 3261px;
    }

    @include u.breakpoint('large'){
        display: none;
    }

    .menu {
        padding: u.toRem(86) 0 u.toRem(67);
        background-color: var(--light-clr);
        border-radius: 0 0 8px 8px;

        .categories{
            margin-bottom: 0;
        }
    }
}