html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-ft);
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  position: relative;
}

.link-btn {
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  padding: 0.9375rem;
  width: 10rem;
  transition: background-color 0.3s ease-in-out;
}
.link-btn--orange {
  background-color: var(--accent-clr);
  color: var(--light-clr);
}
.link-btn--orange:hover, .link-btn--orange:focus {
  background-color: var(--hover-clr);
}
.link-btn--black {
  background-color: var(--dark-clr);
  color: var(--light-clr);
}
.link-btn--black:hover, .link-btn--black:focus {
  background-color: var(--hover-clr2);
}
.link-btn--transp {
  background-color: transparent;
  border: solid 1px var(--dark-clr);
  color: var(--dark-clr);
}
.link-btn--transp:hover, .link-btn--transp:focus {
  background-color: var(--dark-clr);
  color: var(--light-clr);
}

h1, h2, h3, h4, h5, span, p, a {
  margin-top: 0;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  letter-spacing: 1.29px;
}
@media (min-width: 43.75em) {
  h1 {
    font-size: 3.5rem;
    line-height: 3.625rem;
    letter-spacing: 2px;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 2.75rem;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: 1.15px;
}

h4 {
  font-size: 1.75rem;
  line-height: 2.375rem;
  letter-spacing: 2px;
}

h5 {
  font-size: 1.5rem;
  line-height: 2.0625rem;
  letter-spacing: 1.7px;
}

h6 {
  font-size: 0.9375rem;
  line-height: 1.5rem;
  letter-spacing: 1.3px;
}
@media (min-width: 43.75em) {
  h6 {
    font-size: 1.125rem;
  }
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.overline {
  font-size: 0.875rem;
  line-height: 1.1875rem;
  letter-spacing: 10px;
}

.subtitle {
  font-size: 0.8125rem;
  line-height: 1.5625rem;
  letter-spacing: 1px;
}

.btn--txt {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 1px;
}

:root {
  --primary-ft: "Manrope", sans-serif;
  --accent-clr: hsl(22, 65%, 57%);
  --line-clr: hsl(0, 0%, 59.2%);
  --bg-clr: hsl(0, 0%, 6%);
  --header-bg-clr: hsl(0, 0%, 10%);
  --txt-clr: hsl(0, 0%, 95%);
  --title-clr: hsl(0, 0%, 98%);
  --category-clr: hsl(0, 0%, 94%);
  --hover-clr: hsl(21, 94%, 75%);
  --hover-clr2: hsla(0, 0%, 30%, 1);
  --light-clr: hsl(0, 0%, 100%);
  --dark-clr: hsl(0, 0%, 0%);
  --hero-mobile: url("../assets/home/mobile/image-header.jpg") bottom/cover no-repeat;
  --hero-tablet: url("../assets/home/tablet/image-header.jpg") bottom/cover no-repeat;
  --hero-desktop: url("../assets/home/desktop/image-hero.jpg") bottom/cover no-repeat;
  --circles: url("../assets/home/desktop/pattern-circles.svg");
  --feat-mobile: url("../assets/home/mobile/image-speaker-zx9.png") center/cover no-repeat;
  --feat-tablet: url("../assets/home/tablet/image-speaker-zx9.png") center/cover no-repeat;
  --feat-desktop: url("../assets/home/desktop/image-speaker-zx9.png") center/cover no-repeat;
  --feat-two-mobile: url("../assets/home/mobile/image-speaker-zx7.jpg") center/cover no-repeat;
  --feat-two-tablet: url("../assets/home/tablet/image-speaker-zx7.jpg") center/cover no-repeat;
  --feat-two-desktop: url("../assets/home/desktop/image-speaker-zx7.jpg") center/cover no-repeat;
  --feat-three-mobile: url("../assets/home/mobile/image-earphones-yx1.jpg") center/cover no-repeat;
  --feat-three-tablet: url("../assets/home/tablet/image-earphones-yx1.jpg") center/cover no-repeat;
  --feat-three-desktop: url("../assets/home/desktop/image-earphones-yx1.jpg") center/cover no-repeat;
}

.container {
  width: 90%;
  max-width: 23.4375em;
  margin: 0 auto;
}
@media (min-width: 43.75em) {
  .container {
    max-width: 48em;
  }
}
@media (min-width: 62.5em) {
  .container {
    max-width: 69.375em;
  }
}

.no-margin-container {
  width: 90%;
  max-width: 23.4375em;
}
@media (min-width: 43.75em) {
  .no-margin-container {
    max-width: 48em;
  }
}
@media (min-width: 62.5em) {
  .no-margin-container {
    max-width: 69.375em;
  }
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-2x1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@media (min-width: 62.5em) {
  .grid-2x1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}/*# sourceMappingURL=style.css.map */